#bpm {
	background-color: antiquewhite;
	text-align: center;
}

#bpm input[name="bpm"] {
	font-size: 4em;
	width: 3em;
	text-align: center;
}

#bpm button[name="tap"] {
	font-size: 2em;
	padding: 2em;
}

#chart {
	width: 100%;
}

#chart>div {
	margin-top: 1em;
}

#chart .filter label {
	display: inline-block;
	box-sizing: content-box;
	margin: 0;
	margin-right: 1em;
	text-wrap: nowrap;
	padding: 0.5em;
}

#chart .dances .row {
	margin: 0;
	border: 1px solid black;
	box-sizing: content-box;
	height: 1em;
	font-size: 0.7em;
	overflow: hidden;
	background-color: white;
	opacity: 80%;
	padding: 0.2em;
}

.out-bpm {
	opacity: 30% !important;
}

#chart .info .row {
	padding: 0.2em;
}

#chart [data-style="Club"] {
	background-color: rgb(173, 129, 173) !important;
}

#chart [data-style="Country"] {
	background-color: rgb(245, 245, 125) !important;
}

#chart [data-style="Latin"] {
	background-color: pink !important;
}

#chart [data-style="Rhythm"] {
	background-color: pink !important;
}

#chart [data-style="Smooth"] {
	background-color: rgb(131, 131, 250) !important;
}

#chart [data-style="Standard"] {
	background-color: rgb(131, 131, 250) !important;
}

#todo {
	background-image: linear-gradient(#000, #000);
	background-size: 2px 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
